/* color palette */
/* baby blue #E7F2F8 */
/* aquamarine #74BDCB*/
/* salmon #FFA384 */
/* freesia #EFE7BC */

* {
    box-sizing: border-box;
}

body {
    background-color: #F0F8FF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: #74BDCB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 2px 2px -2px gray;
    font-family: "Happy Monkey", system-ui;
}

.header-left {
    display: flex;
    align-items: center;
}

header img {
    width: 50px;
    height: 50px;
}

header h1 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding-left: 5px;
}

.header-links {
    display: flex;
    gap: 20px;
}

.header-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

.header-links a:hover {
    background-color: #EFE7BC;
}

.top-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
    padding: 10px;
    margin: 0 auto;
    background-color: #E7F2F8;
    box-shadow: 0 2px 2px -2px gray;
    position: sticky;
    top: 0;
}

.main-searchbar {
    padding: 10px;
    width: 100%;
    max-width: 450px;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid lightgrey;
    outline: none;
}

.toggle-radio {
    display: flex;
    gap: 20px;
}

.toggle-radio input[type="radio"] {
    display: none;
}

.toggle-radio label {
    font-weight: bold;
    color: #74BDCB;
    padding: 10px;
    cursor: pointer;
}

.toggle-radio input[type="radio"]:checked + label {
    background-color: #EFE7BC;
    color: #74BDCB;
}

section {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

article {
    border: 2px solid #E7F2F8;
    width: 350px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article div {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

article img {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

article h3, article p {
    padding: 5px 0;
    padding-top: 10px;
}

article h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

article small {
    color: #FFA384;
    padding-top: 10px;
    text-align: right; 
    font-size: 0.8rem;
    font-weight: bold;
}

article:hover {
    cursor: pointer;
}

header .menu-icon {
    display: none
    
}

@media screen and (max-width: 1000px) {
    section {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    section {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .header-links {
        display: none;
    }

    .menu-icon {
        display: block !important;
        font-size: 2rem;
        cursor: context-menu;
    }
    .header-links.show {
        display: flex;
        position: absolute;
        top: 60px; 
        right: 10px;
        background-color: #74BDCB;
        border-radius: 10px;
        flex-direction: column;
        width: 200px; 
        box-shadow: 0 2px 2px -2px gray;
        z-index: 1;
        padding: 10px;
    }
}
